.post{

background:white;
border-radius:20px;
overflow:hidden;
box-shadow:0 8px 25px rgba(0,0,0,.1);
transition:.3s;

}


.post:hover{

transform:translateY(-8px);

}


.post-header{

display:flex;
justify-content:space-between;
padding:15px;

}


.user{

display:flex;
gap:10px;
align-items:center;

}


.user img{

width:45px;
height:45px;
border-radius:50%;
object-fit:cover;

}


.image-box{

position:relative;

}


.image-box img{

width:100%;
height:350px;
object-fit:cover;

}



.sold{

position:absolute;

top:50%;
left:50%;

transform:translate(-50%,-50%) rotate(-20deg);

background:red;
color:white;

padding:10px 40px;

font-size:25px;

font-weight:bold;

}



.actions{

display:flex;

gap:20px;

font-size:25px;

padding:15px;

}



.actions i:hover{

color:red;

cursor:pointer;

}



.details{

padding:15px;

}


.details h4{

color:#2563eb;

}